@model Deklaracje.Models.DeclarationModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="page-header">Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            <!-- @Html.DisplayNameFor(model => model.ClassDate) -->
            Class Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassDate)
        </dd>
        <dt>
            Class Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt>
            Class Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassNo)
        </dd>
        <dt>
            Exercise 1
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise1)
        </dd>
        <dt>
            Exercise 2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise2)
        </dd>
        <dt>
            Exercise 3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise3)
        </dd>
        <dt>
            Exercise 4
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise4)
        </dd>
        <dt>
            Exercise 5
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise5)
        </dd>
        <dt>
            Exercise 6
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise6)
        </dd>
        <dt>
            Exercise 7
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise7)
        </dd>
        <dt>
            Exercise 8
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise8)
        </dd>
        <dt>
            Exercise 9
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise9)
        </dd>
        <dt>
            Exercise 10
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise10)
        </dd>
        
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Delete</a>
</p>
